
<!-- Bring in the Bootstrap CSS Filessss -->
<link rel="stylesheet" href="/static/bootstrap.css">
<div>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link"  href="#">Next Page</a>
    </li>
</div>  


       
<!--Second Body Section -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-3 font-weight-normal">Hexapawn Rules</h1>
    <p class="lead font-weight-normal">The rules of hexapawn:
      You are 'p' and these are your pawns. Your pawns move like they do in chess, and you go first.
    </p>
    <a class="btn btn-outline-secondary" href="https://colab.research.google.com/drive/16NVjenzJXUPJqHLvGLWwtdlmRsUv-IPy?usp=sharing">Click here!!</a>
  </div>
 
</div>

